* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* color */

:root {
  --bg-color1: #b5d0e7;

  --bg-color2: #0061ff;

  --bg-color3: #61072b;

  --bg-color4: #d0d0d3;

  --bg-color5: #ffffff;

  --bg-color6: #000000;
}

/* text */

body {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 77px;
  font-weight: 800;
  margin-bottom: 50px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 14px;
}

p,
a,
.text {
  font-size: 14px;
}

h5 {
  font-size: 10px;
}

.btn {
  all: unset;
  display: inline-block;
  font-size: 12px;
  background-color: var(--bg-color2);
  color: var(--bg-color5);
  padding: 10px 18px;
  line-height: 1;
}

.icon {
  font-size: 40px;
}

.text {
  display: block;
}

.main-container,
.foot-container {
  max-width: 1200px;
  margin: 0 auto;
}

.secondarymain-container {
  max-width: 1000px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: block;
}

a.btn {
  cursor: pointer;
}

.col-small {
  width: 30%;
}

.col-big {
  width: 70%;
}

.debug #head-container {
  background-color: pink;
}

.debug .main-container,
.debug .foot-container {
  background-color: rgb(219, 219, 120);
  border: 2px dashed black;
}

.debug .secondarymain-container {
  background-color: rgb(112, 183, 216);
  border: 2px dashed black;
}

body.debug {
  background-color: rgb(226, 226, 226);
}

.debug ul.navbar-sx,
.debug ul.navbar-dx {
  background-color: #9cc1a2;
}

.debug #jumbotron {
  background-color: rgb(200, 190, 222);
  border: 2px dashed black;
}

.debug .col-small {
  background-color: #ec9e38;
  border: 2px dashed black;
}

.debug .col-big {
  background-color: #63d275;
  border: 2px dashed black;
}

.debug .white {
  border: 2px dashed black;
}

.debug .col1 {
  background-color: aliceblue;
}

.debug #clients #brands div.square {
  background-color: rgb(214, 130, 172);
  border: 2px dashed black;
}

.debug #business-tools .item-tool {
  background-color: blueviolet;
  border: 2px dashed white;
}

.debug footer .foot-container .flex-n div.foot-col {
  background-color: #61072b;
}

.debug footer div.language .flex-n {
  background-color: #63d275;
  border: 2px dashed white;
}

/* header */

header {
  height: 80px;
  line-height: 80px;
  z-index: 3;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--bg-color5);
}

.flex-sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-n {
  display: flex;
}

ul > li {
  list-style-type: none;
  border-bottom: 2px solid transparent;
}

#head-container ul > li:not(#logo):not(.btn):hover {
  border-bottom: 2px solid var(--bg-color6);
}

.navbar-dx.flex-sb {
  padding: 0 20px 0 0;
}

header li a,
header li img {
  color: var(--bg-color6);
  text-decoration: none;
  display: block;
  padding: 0 20px;
}

li.btn > a {
  color: var(--bg-color5);
}

/* jumbo */

#jumbotron {
  background-color: var(--bg-color1);
  margin-top: 0;
  padding-top: 110px;
}

#jumbotron .main-container .flex-n > div.col-small {
  padding-right: 50px;
}

main .col-small .icon {
  margin: 80px 0 20px;
  font-size: 35px;
}

main #plane span.text,
#jumbotron a.btn {
  margin: 35px 0 50px;
}

#jumbotron .main-container {
  position: relative;
  bottom: -80px;
}
